In [1]:
import pandas as pd

In [3]:
behaviors_tr = pd.read_csv('/Users/baeyuna/Documents/SNU_DLab/TANR/data/train/behaviors.tsv', delimiter='\t', header=None)
behaviors_tr.head()

,0,1,2,3,4
0,1,U87243,11/10/2019 11:30:54 AM,N8668 N39081 N65259 N79529 N73408 N43615 N2937...,N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N5...
1,2,U598644,11/12/2019 1:45:29 PM,N56056 N8726 N70353 N67998 N83823 N111108 N107...,N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
2,3,U532401,11/13/2019 11:23:03 AM,N128643 N87446 N122948 N9375 N82348 N129412 N5...,N103852-0 N53474-0 N127836-0 N47925-1
3,4,U593596,11/12/2019 12:24:09 PM,N31043 N39592 N4104 N8223 N114581 N92747 N1207...,N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...
4,5,U239687,11/14/2019 8:03:01 PM,N65250 N122359 N71723 N53796 N41663 N41484 N11...,N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...

In [13]:
def imp_len(x):
    return len(x.split(' '))

In [15]:
behaviors_tr['impression_len'] = behaviors_tr.iloc[:,3].apply(lambda x: imp_len(str(x)))
behaviors_tr.head()

,0,1,2,3,4,impression_len
0,1,U87243,11/10/2019 11:30:54 AM,N8668 N39081 N65259 N79529 N73408 N43615 N2937...,N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N5...,16
1,2,U598644,11/12/2019 1:45:29 PM,N56056 N8726 N70353 N67998 N83823 N111108 N107...,N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,24
2,3,U532401,11/13/2019 11:23:03 AM,N128643 N87446 N122948 N9375 N82348 N129412 N5...,N103852-0 N53474-0 N127836-0 N47925-1,16
3,4,U593596,11/12/2019 12:24:09 PM,N31043 N39592 N4104 N8223 N114581 N92747 N1207...,N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...,13
4,5,U239687,11/14/2019 8:03:01 PM,N65250 N122359 N71723 N53796 N41663 N41484 N11...,N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...,339

In [16]:
behaviors_tr.describe()

                  0  impression_len
count  1.393399e+06    1.393399e+06
mean   6.967000e+05    3.301592e+01
std    4.022398e+05    4.091478e+01
min    1.000000e+00    1.000000e+00
25%    3.483505e+05    8.000000e+00
50%    6.967000e+05    1.900000e+01
75%    1.045050e+06    4.200000e+01
max    1.393399e+06    8.010000e+02

In [17]:
behaviors_te = pd.read_csv('/Users/baeyuna/Documents/SNU_DLab/TANR/data/test/behaviors.tsv', delimiter='\t', header=None)
behaviors_te.head()

,0,1,2,3,4
0,1,U64099,11/19/2019 11:37:45 AM,N121133 N104200 N43255 N55860 N128965 N38014 N...,N101071 N15647 N83400 N124838 N57092 N64623 N6...
1,2,U231077,11/19/2019 5:28:08 AM,N45124 N84730 N45128 N104312 N70022 N99111 N26...,N14657 N51253 N49521 N126571 N74286 N101071 N1...
2,3,U606012,11/19/2019 4:46:23 AM,N59893 N84662 N90686 N33265 N127225 N120859 N6...,N74286 N9250 N26898 N123737 N98301 N80580 N456...
3,4,U320649,11/21/2019 6:03:51 AM,N110863 N7889 N86335 N85056 N115743 N63372 N19...,N119559 N37657 N108085 N91287 N39136 N130190 N...
4,5,U357840,11/22/2019 10:36:19 AM,N98596 N85005 N15713 N67779 N47961 N55571 N666...,N60658 N43496 N65220 N9125 N63136 N83728 N3208...

In [18]:
behaviors_te['impression_len'] = behaviors_te.iloc[:,3].apply(lambda x: imp_len(str(x)))
behaviors_te.head()

,0,1,2,3,4,impression_len
0,1,U64099,11/19/2019 11:37:45 AM,N121133 N104200 N43255 N55860 N128965 N38014 N...,N101071 N15647 N83400 N124838 N57092 N64623 N6...,38
1,2,U231077,11/19/2019 5:28:08 AM,N45124 N84730 N45128 N104312 N70022 N99111 N26...,N14657 N51253 N49521 N126571 N74286 N101071 N1...,14
2,3,U606012,11/19/2019 4:46:23 AM,N59893 N84662 N90686 N33265 N127225 N120859 N6...,N74286 N9250 N26898 N123737 N98301 N80580 N456...,23
3,4,U320649,11/21/2019 6:03:51 AM,N110863 N7889 N86335 N85056 N115743 N63372 N19...,N119559 N37657 N108085 N91287 N39136 N130190 N...,26
4,5,U357840,11/22/2019 10:36:19 AM,N98596 N85005 N15713 N67779 N47961 N55571 N666...,N60658 N43496 N65220 N9125 N63136 N83728 N3208...,55

In [19]:
behaviors_te.describe()

                  0  impression_len
count  2.370727e+06    2.370727e+06
mean   1.185364e+06    4.161154e+01
std    6.843701e+05    5.032022e+01
min    1.000000e+00    1.000000e+00
25%    5.926825e+05    1.000000e+01
50%    1.185364e+06    2.500000e+01
75%    1.778046e+06    5.400000e+01
max    2.370727e+06    1.021000e+03